/* Some sensible defaults for images
Bring inline: Yes. */
img {
    display: block;
    margin: 0;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    a & {
        border: 0;
        text-decoration: none;
        outline: none;
    }
}

/* Yahoo paragraph fix
Bring inline: Yes. */
p {
    margin: 1em 0;
}

/* Hotmail header color reset
Bring inline: Yes. */
#{headings} {
    color: $base-link-color !important;
    a {
        text-decoration: none;
        color: $base-link-color !important;
        &:hover, &:active, &:visited, &:link {
             /* Preferably not the same color as the normal header link color.  There is limited support for pseudo classes in email clients, this was added just for good measure. */
            color: $base-link-color !important;
            text-decoration: none;
        }

    }
}

/* Remove spacing around Outlook 07, 10 tables
Bring inline: Yes */
table {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    &,
    td {
        /* Outlook 07, 10 Padding issue fix
        Bring inline: No.*/
        border-collapse: collapse;
    }
}

/* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email and make sure to bring your styles inline.  Your link colors will be uniform across clients when brought inline.
Bring inline: Yes. */
a {
    color: $base-link-color;
    text-decoration: none;
    border: 0;
    text-decoration: none;
    outline: none;
    &:hover, &:active, &:visited, &:link {
         /* Preferably not the same color as the normal header link color.  There is limited support for pseudo classes in email clients, this was added just for good measure. */
        color: $base-link-color !important;
        text-decoration: none;
        border: 0;
        outline: none;
        img {
            text-decoration: none;
            border: 0;
            outline: none;
        }
    }
}

.ReadMsgBody, .ExternalClass {
  width:100%;
  line-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100% !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

span.image {
    background-size: 100% 100%;
}

a[href^="tel"] {
    text-decoration: none !important;
    color: #7f7971 !important;
    pointer-events: none !important;
    cursor: default !important;
}
a[href^="sms"] {
    text-decoration: none !important;
    color: #7f7971 !important;
    pointer-events: none !important;
    cursor: default !important;
}
.mobile-link a[href^="tel"] {
    text-decoration: default !important;
    color: #7f7971 !important;
    pointer-events: auto !important;
    cursor: default !important;
}
.mobile-link a[href^="sms"] {
    text-decoration: default !important;
    color: #7f7971 !important;
    pointer-events: auto !important;
    cursor: default !important;
}

.image.mobile-image {
    display: none;
    width: 0px;
    height: 0px;
}
