// used to hide items on the desktop view

table.desktop-hide {
  @include mediaQuery($max, $main-break) {
    display: table !important;
  }
}

td.desktop-hide {
  @include mediaQuery($max, $main-break) {
    display: table-cell !important;
  }
}
tr.desktop-hide {
  @include mediaQuery($max, $main-break) {
    display: table-row !important;
  }
}
img.desktop-hide {
  @include mediaQuery($max, $main-break) {
    display: block !important;
  }
}
.desktop-hide {
  max-height: 0px;
  font-size: 0;
  display: none;
  @include mediaQuery($max, $main-break) {
    font-size: $main-font-size !important;
    max-height: none !important;
  }
}
//used to hide items on the mobile view
//TODO: images are not coming up on mobile for some reason (look at litmus tests)
table.mobile-hide {
  display: table;
}

td.mobile-hide {
  display: table-cell;
}
tr.mobile-hide {
  display: table-row;
}

img.mobile-hide {
  display: block;
}

.mobile-hide {
  @include mediaQuery($max, $main-break) {
    display: none !important;
  }
}
