//used ref from http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
@mixin mediaQuery($constraint, $viewport1, $viewport2: null, $hdpi: false) {
  @if $hdpi {

    @if $constraint == $min {

      @media screen and ($min: $viewport1) and (-webkit-min-device-pixel-ratio: 2) {
        body[yahoo] & {
            @content;
          }
      }

    } @else if $constraint == $max {

      @media screen and ($max: $viewport1) and (-webkit-min-device-pixel-ratio: 2) {
          body[yahoo] & {
          @content;
        }
      }

    } @else {

      @media screen and ($min: $viewport1) and ($max: $viewport2) and (-webkit-min-device-pixel-ratio: 2) {
          body[yahoo] & {
          @content;
        }
      }

    }

  } @else {

    @if $constraint == $min {

      @media screen and ($min: $viewport1) {
      	body[yahoo] & {
        		@content;
        	}
      }

    } @else if $constraint == $max {

      @media screen and ($max: $viewport1) {
        	body[yahoo] & {
      		@content;
      	}
      }

    } @else {

      @media screen and ($min: $viewport1) and ($max: $viewport2) {
        	body[yahoo] & {
      		@content;
      	}
      }

    }

  }

}