//variables ref from http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
$media: screen;
$print: print;
$min: min-width;
$max: max-width;
$viewport-increment: 0.1px;
$desktop: 1080px;
$pre-desktop: $desktop - $viewport-increment;
$tablet: 768px;
$pre-tablet: $tablet - $viewport-increment;
$iphone6: 750px;
$pre-iphone6: $iphone6 - $viewport-increment;
$iphone4: 640px;
$pre-iphone4: $iphone4 - $viewport-increment;
$iphone: 320px;
$pre-iphone: $iphone - $viewport-increment;

$main-break: $iphone4;

$main-font-size: 12px;

$bg-blue: #1c3f95;
$bg-main-content: #ffffff;
$bg-sub-content: #d2d9ea;

$base-text-color: #0018a8;
$legal-text-color: #959fdb;
$base-link-color: #0018a8;
