@import "imports/variables";
@import "imports/media_query_mixin";
@import "imports/base";
@import "imports/main";
@import "imports/base_media_query_mixins";

//retina images
span.image {

  @include mediaQuery(null,$iphone, $desktop,true ) {
    display: block !important;
    &>img {
      display: none !important;
      width: 0 !important;
    }
    $basepath: "@@img/common/desktop/2x/";
  }

  @include mediaQuery($max, $main-break, null, true) {
    $basepath: "@@img/eng/mobile/2x/";
  }
}
