@import "imports/variables";
@import "imports/media_query_mixin";
@import "imports/base";
@import "imports/main";
@import "imports/base_media_query_mixins";

//******* Put your language specific styles and media queries here here

/*
//Example media query usage
//Ref -> http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
//also, when building and deving, use '@@img' as a replacement for the
//relative path and absolute path.
.box-module {
  float: left;
  background: #ccc;
  margin-bottom: 1.2em;

  @include mediaQuery($min, $desktop) {
    float: none;
    clear: both;
    margin-bottom: 0.5em;
    background-image: url('@@img/the-other-image.jpg');
  }

  @include mediaQuery($max, $iphone6) {
    margin-bottom: 0.2em;
    background-image: url('@@img/the-other-image.jpg');
  }
}

.some-other-module {
  border: solid 4px #222;
  padding: 1.2em;
  margin-bottom: 1.2em;

  @include mediaQuery($min, $desktop) {
    border: solid 2px #222;
    padding: 0.8em;
    margin-bottom: 0.5em;
    background-image: url('@@img/the-other-image.jpg');
  }

  @include mediaQuery($max, $iphone6) {
    padding: 0.2em;
    margin-bottom: 0.2em;
    background-image: url('@@img/the-other-image.jpg');
  }
}

 */

//retina images
span.image {

  @include mediaQuery(null,$iphone, $desktop,true ) {
    display: block !important;
    &>img {
      display: none !important;
      width: 0 !important;
    }
    $basepath: "@@img/common/desktop/2x/";
  }

  @include mediaQuery($max, $main-break, null, true) {
    $basepath: "@@img/eng/mobile/2x/";
  }
}
