//- Declares


//- Email friendly metadata declare
mixin metadata
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")