//- Declares


//- Email friendly retina image declare
mixin image(jsonData)
	span(class="image "+jsonData.selector, width=jsonData.width, height=jsonData.height)
		img(cellpadding="0", cellspacing="0",border="0", src=jsonData.src, width=jsonData.width, height=jsonData.height alt=jsonData.alt)&attributes(attributes)

//- If comment that hides content from microsoft clients (use with caution)
mixin hidefromMS
	<!--[if !mso]><!-->
	block
	<!--<![endif]-->
