//- Declares

//- Email friendly table declare
mixin table
	table(cellpadding="0", cellspacing="0", border="0")&attributes(attributes)
		block

//- Table cell declare
mixin cell
	td(cellpadding="0", cellspacing="0", border="0")&attributes(attributes)
		block

//- Main table declare
mixin mainbody
	body(yahoo="fix")
		+table(width="100%").bg-table
			tr
				+cell(align="center")
					+table.wrap-table
						tr
							+cell(align="left")
								+table.main-table
									block

//- A Table used to center tds
mixin centertable
	+table(width="100%")&attributes(attributes)
		tr
			+cell(align="center").center-table-alignment
				+table
					block