include jade-mixins/email-table
include jade-mixins/email-image
include jade-mixins/email-metadata
include jade-mixins/user-mixins

doctype strict
head
	+metadata
	title="(French) <%= emailTitle %>"
	link(href="css/style.css", rel="stylesheet", type="text/css")


- var imgData = data.fr
- var imgMobileData = data.fr.mobileimgs
- var comData = data.common
- var comMobileData = data.common.mobileimgs

+mainbody
