include jade-mixins/email-table
include jade-mixins/email-image
include jade-mixins/email-metadata
include jade-mixins/user-mixins

doctype strict
head
  +metadata
  title="(English) <%= emailTitle %>"
  link(href="css/style.css", rel="stylesheet", type="text/css")

- var imgData = data.eng
- var imgMobileData = data.eng.mobileimgs
- var comData = data.common
- var comMobileData = data.common.mobileimgs

+mainbody
