include jade-mixins/email-table
include jade-mixins/email-image
include jade-mixins/email-metadata
include jade-mixins/user-mixins

doctype strict
head
  +metadata
  //- Standard meta data
  title="EXAMPLE MARKUP"
  link(href="css/style.css", rel="stylesheet", type="text/css")

//- json data passed in from image-data.json file.
- var imgData = data.eng
- var imgMobileData = data.eng.mobileimgs
- var comData = data.common
- var comMobileData = data.common.mobileimgs

+mainbody
  //- The standard heiharcy of defining a body, and creating
  //- a table that centers in the window regardless of
  //- window size, includes necessary classes already.
  //- Final parent is a table tag
  tr
    +cell
      //- The cell is another name for td, includes
      //- necessary resetting attributes

      +table
        //- The table tag, includes
        //- necessary resetting attributes
        tr.mobile-hide
          //- the [.mobile-hide] is the class added onto the tag,
          //- hides content when in window is in mobile dimensions
          //- the class can be used on tr,td(+cell),table(+table),spans, and img(+image) tags.
          +cell.mobile-hide
            +image(imgData.desktopImage).mobile-hide
              //- The image mixin, generates a span tag with a child
              //- img tag. A trick used to hide the img tag on retina screens,
              //- and use the background-image style on the span tag.
              //- attributes and class selector automatically placed from
              //- json data defined in 'image-data.json'
        tr.desktop-hide
          //- works like the .mobile-hide class, except hides content when
          //- the window is in desktop dimensions
          +cell.desktop-hide
            +centertable.desktop-hide
              //- A table that centers tds
              //- Final parent is a table tag
              tr
                +cell
                  p I'm content that is centered!

        +hidefromMS
          //- A Mixin that uses the microsoft commenting 'if' statement system,
          //- it will hide content nested within it, use with caution in mind.
          tr
            +cell
              a(href="www.google.com"): p Hidden from Microsoft Office
              //- Creates a link
